*
{
    background-color: rgb(31, 59, 82);
    color: grey;
    font-weight: bold;
    font-style: italic;

}
input
{
    height: 25px;
    width: 200px;
    padding: 5px;
    font-size: 14px;
}
main
{
    margin: 10% 40% 0% 40%;
    width: 375px;
}
button
{
    position: relative;
    left: 180px;
}
#name
{
    position: relative;
    left: 24px;
}
#surname
{
    position: relative;
    left: 3px;
}
#email
{
    position: relative;
    left: 18.5px;
}
#age
{
    position: relative;
    left: 37px;
}